<h1>
Hello <%= name%>
<h1>
<h2>
Username = <%= username%>
<br>
Account Number = <%= accno%>
<br>
Phone number = <%= phone%>
<br>
E-mail = <%= email%>
<br>
Username = <%= username%>
<br>
Date of Birth = <%= dob%>
<br>
</h2>